.container1{
  
  position: absolute;
  top: 47%;
  left: 50%;

  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 10px;
  box-shadow: rgb(245, 198, 198) 0px 5px 15px;
  border-radius: 20px; ;
}
label{
font-weight: bolder;
  font-size: 15px;
  margin-bottom:5px ;
}
input[type=text]{
  border: 1px solide black;
  width: 350px;
  height: 38px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:10px ;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;


}
input[type=number]{
  border: 1px solide black;
  width: 350px;
  height: 38px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom:10px ;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;


}
input[type=submit]{
  border: 1px solide black;
 
  height: 40px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom:20px ;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;


}